<% @title = "Test" %>

<% @response_status['channel']['item'].each do |movie| %>
  <% if movie['guid']['content'].match(/letterboxd-watch/) %>

    <% description = Nokogiri::HTML( movie['description'] ) %>
    <% poster_src = description.css('img').map{ |i| i['src'] } %>

    <p class="<%= movie['guid']['content'] %>">
      <span><a href="<%= movie['link'] %>"><%= movie['title'].match(/.*(,)/)[0].chomp(',') %></a>, <%= movie['title'].match(/([^,]*)$/)[1].split(/-/)[0] %></span><br/>
      <span><%= Date.strptime(movie['pubDate'], '%a, %e %b %Y %H:%M:%S %z').strftime("%A %e %b %Y") %></span><br/>
      <span><img src="<%= poster_src.first %>" alt="<%= movie['title'].match(/.*(,)/)[0].chomp(',') %>, <%= movie['title'].match(/([^,]*)$/)[1].split(/-/)[0] %>"></span>
    </p>

  <% end %>
<% end %>